ion-button {
  --background: #b7f399;
  --background-activated: #87d361;
  --background-hover: #a3e681;
  --border-radius: 15px;
  --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --color: black;
}

ion-badge{
  --background: #050000;
  --background-activated: #050000;
  --background-hover: #050000;
  --text-transform: capitalize;
  --border-radius: 15px;
  --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

ion-thumbnail {
  --size: 100px;
  width: 100px;
  height: auto;
  object-fit: contain;
}

ion-thumbnail::part(image) {
  object-fit: contain;
}

.test-image {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.test-image img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}